body {
  font-family: 'Roboto', sans-serif;
  background: #000000;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.kanban-board {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.colunas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.column {
  background: #262626;
  padding: 16px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task select {
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.task-input {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
  justify-content: center;
}

.task-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 30%;
}

.task-input button {
  padding: 8px 16px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task {
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  
}

.priority-badge {
  margin-left: 8px;
  font-weight: bold;
  text-transform: capitalize;
}

.task button {
  margin-left: 4px;
  padding: 4px 8px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}






button {
  cursor: pointer;
}

